* {
    box-sizing: border-box;
}

.dashboard-back {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    overflow: hidden;
}

.dashboard-back::-webkit-scrollbar {
    display: none;
}

.dashboard-left {
    /* color: rgba(28, 46, 207, 0.849); */
    min-width: clamp(170px, 12%, 200px);
    border-right: solid 1px rgba(0, 0, 0, 0.3);
    /* padding: 19px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.dashboard-left-logo {
    height: 150px;
    width: 150px;
    margin: 20px 0px 30px 0px;
    padding: 10px;
}

.dashboard-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 35px 50px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    /* background-color: rgba(0, 72, 255, 0.705); */
}

.dashboard-left-settings {
    padding: 20px 0px 0px 0px;
    border-top: solid 1px rgba(0, 0, 0, 0.3);
    width: 100%;
    /* justify-self: flex-end; */
}

.dashboard-title {
    display: flex;
    /* width: 100%; */
    align-items: center;
}

.dashboard-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

.dashboard-search-bar {
    width: 100%;
}

.dashboard-link {
    text-decoration: none;
}